################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/DotNetStandard
/SelfTestWebMVCKendo/bin
/SelfTestWebMVCKendo/obj
